<h1 style="padding: 10px;
              color:white;background-color: #5642C5;"> 
           Assingnment-03
</h1>

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           1. A = { 55, 6, 8, 9, 11} , B = {44, 55, 89,54} apply set union.
</p>

In [4]:
A = { 55, 6, 8, 9, 11}
B = {44, 55, 89, 54}

print("Set Union: ", A|B) #represent using pipe "|"

Set Union:  {6, 8, 9, 11, 44, 54, 55, 89}

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           2. Which data type not allow duplicate item. Give an example.
</p>

<p style="padding: 10px;
              color:white;background-color: #E67E22;">Answer: 
            Set doesn't allow any duplicate item.

In [6]:
#Example
C = {2, 4, 55, 6, 7, 4, 9, 11, 55}

print("Set: ", C)
print("No duplicates once we run the set")

Set:  {2, 4, 55, 6, 7, 9, 11}
No duplicates once we run the set

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           3. B={â€˜Djangoâ€™: 16, â€˜Projectâ€™: 8, â€˜Studentsâ€™: 20} print keys.
</p>

In [8]:
B={'Django': 16, 'Project': 8, 'Students': 20}

print("Keys of dictionary B: ", B.keys())

Keys of dictionary B:  dict_keys(['Django', 'Project', 'Students'])

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           4. Create a function & call the function.
</p>

In [27]:
#Create Function
def expense_details(Name, Salary, Rent, Food, Transport, Medicine ):
  name = str(Name)
  earning = float(Salary)
  rent = float(Rent)
  food = float(Food)
  transport = float(Transport)
  medicine = float(Medicine)
  total = rent + food + transport + medicine
  avg_transport_cost = transport/30
  avg_food_cost = food/30
  avg_medicine_cost = medicine/30
  print("Name: ", name)
  print("Total Expense: ", total)
  print("Average Transport Cost Daily: ", avg_transport_cost)
  print("Average Food Cost Daily: ", avg_food_cost)
  print("Average Food Cost Daily: ", avg_medicine_cost)
  print("Balance Remain After all cost: ", (earning-total))

In [28]:
#Call Function
expense_details("John", 50000, 20000, 10000, 4000, 5000)

Name:  John
Total Expense:  39000.0
Average Transport Cost Daily:  133.33333333333334
Average Food Cost Daily:  333.3333333333333
Average Food Cost Daily:  166.66666666666666
Balance Remain After all cost:  11000.0

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           5. Create Class & Object.
</p>

1. Class is a part of python Object Oriented Programming
2. **class:** It's an Object Constructor. Name of any class starts with capital letter.
3. **__init__:** intializes the attributes. and __init__ is automatically executed with every new classes. __init__(constructor) is a built-in/reserved function name in python. It creates space in memory and store the parameter details.
4. **self:** self represents instance of the class to access methods and attribute. When we passes the self parameters from method to method, we get the access of all the attributes for different methods. It works in background once we creates any object.
5. **method:** define function under the class is method.
6. **arguments/parameters:** inside the () of a method, we write parameters/attributes
7. **attribute:** variable includes with self is an attribute..

In [75]:
class Ship:
  def __init__(self, name, size, capacity):
    self.Name = name
    self.Size = size
    self.Capacity = capacity
  def secondary(self):
    print("Ship {} has a size of {} meters with capacity {} TEUs".format(self.Name, self.Size, self.Capacity))

In [76]:
ship = Ship('Panamax', 366, 13000) #create object
ship.secondary() #call secodary method by class
print("note: here we can see how method to method works")

Ship Panamax has a size of 366 meters with capacity 13000 TEUs
note: here we can see how method to method works

<h2>Alternatively</h2>

In [48]:
class Ship:
  def primary(self, name, size, capacity):
    self.Name = name
    self.Size = size
    self.Capacity = capacity
  def secondary(self):
    print("Ship {} has a size of {} meters with capacity {} TEUs".format(self.Name, self.Size, self.Capacity))

In [49]:
ship = Ship() #create object
ship.primary('Panamax', 366, 13000)
ship.secondary() #call secodary method by class
print("note: here we can see how method to method works")

Ship Panamax has a size of 366 meters with capacity 13000 TEUs
note: here we can see how method to method works

<p style="padding: 10px;
              color:white;background-color: #5642C5;">ðŸ‘‰  
           6. Give an example of Inheritance.
</p>

<h2>Inheritance</h2>

There will parent and child class. Child class will get all the attributes of parent class and also it's own class, then return the result once we have inherit the parent class into child class**[`class child(parent)`]**

In [132]:
#parent class
class Car:
  def __init__(self, brand, color, category, passenger):
    self.Brand = str(brand)
    self.Color = str(color)
    self.Category =  str(category)
    self.Passenger = int(passenger)

  def description(self):

    print("This {} car is {} color. And falls under the category {} with {} persons seating arrangements"
              .format(self.Brand, self.Color, self.Category, self.Passenger))

#child class    
class Bike(Car): #it includes the attributes of Car
  def bike_details(self):
    print("This {} bike is {} color. And falls under the category {} with {} persons seating arrangements."
              .format(self.Brand, self.Color, self.Category, self.Passenger))

In [133]:
#Parent Class
car = Car("BMW", "Blue", "SUV", 7) #object name of class Car
car.description() #call methods

This BMW car is Blue color. And falls under the category SUV with 7 persons seating arrangements

In [134]:
#Child Class
bike = Bike("Honda", "Red", "Racing", 2) #including the attributes of Class A
bike.bike_details() #call methods

This Honda bike is Red color. And falls under the category Racing with 2 persons seating arrangements.